language: java
sudo: false

matrix:

  include:
  - jdk: openjdk8
  - jdk: openjdk11
  - jdk: openjdk12
    script:
      - ./gradlew build codeCoverageReport -s -i
    after_success:
      - '[ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ] && ./gradlew
        artifactoryPublish -s -i'
      - bash <(curl -s https://codecov.io/bash)
  - jdk: openjdk-ea

  allow_failures:
  # Temporary allow failure of jdk11+ until JDK-8210483 fix is released:
  - jdk: openjdk11
  - jdk: openjdk-ea

script:
  - ./gradlew test

env:
  global:
  - secure: cmXQwAJyATAnyEs1CcIQ/UDb1uDxMAw0Uk8gjBw9XOplzlJOWoe039VUOPFD/DQM4vXpemevBQ2Hip8NNqePiTrUe/qgUB02505V9h2jONWP927shB/mVyMALS8oajJI8nbw5DE3bV+CjcPiEV657AUDqBoKm4rVloBx49ErDfjTcTMr/ufFmRNM/tAVIeWxnjZCowDX+K5zx0+CTCjyvWgXEsTaTNvZt4yGthvZRmWgfBSklf5LJoQX40eibD6tAfl3/gOuY8MIMWIGgGVQiK2WNOfvz/2D+3pFkVEB9O09pqh1zjimqbKvYyRcAk3TFf5J/j2hVtE/DU9HHaozNEVSDwGIu3wELYtoW0ZOylRw2iZzj/BCqRMPDt6cPti5UJRWGtLvP8DmESWfPfodZ74tlGjqjC44l6Euf9Yo5B++ixw8LLo0XBB0+nQX+j1SIDs5HNdbMYmpEL1J4wQDNrtlblwH5UzIArLP3eKUUL7yddz0fGiE3432UxY/RIRbNLlod2TBNg6rZPrYMcLBlj6ycqmaQu5Uju6DNR21pkpBVv6QLt5qywmD6E9FEauMYeKOhFUwigBvdXXuNoQCTOyT4htY/Ts19bKVxi8N8Cb8vjwgrM9h5whDso+73wOynCYgbZvdv/fNXDu+mD4igP3h0mx63cW63nlQevfQQ/k=
  - secure: Xdh46oJB52BDbCc4aWNp4x+uoSzyJU0un3qxWyLro/L8PFp/WK51D7bm3JrhtrxPqSf3Z2Vn0WCloPKPAKcgAkiulvjUGA0P/2gN1vKdJLYSZ/VSw3avZ+KKU7yJ4iu3B0fZODRdd+OL2ZDM/SRrHagQOMq/A1JzlsZX3cIXFMsW20+dkIZcT+WRmpUMvskfeYQzhEIRk/nlW8DxVYSV7sRg9D+N6Yr5Ay9YBpn+UCL4HMB1KqtbwS2Dq967jGuX5I349XC/BdSx/QPqswPI9w/3D2swgu9O2B+Cnd9bO0AWLQV4jvq6n7aZ8MRLSnLVRqqyeWrsN/O3GI5Jh4Md5KCQn0mUoK62idMzfXiAWVhqH4IRMhTJ/UBZ1HeBDkK7btAIw30i66Hbnb7d5rmlMWIBf9+6Shch1umA+KXVqGF22OnI/r3pVzCHo+KZEJ74RWp5rigM+s60bRkf3EBCv7cMwQ0he7nTUk1JcOSKhLuynlhFcJnz50ICgjo646KStPDQkqGsg3SXK/KZfBfZEsGytyWLWNudgUsxWyNn4g4+VGVf6JVI/dEoLf4OZ2PWnQk+ao2LOsgO1giyQKxQtQqpzInVDxutna2QnF6ETt/GFkpa0gjswXaZKQp5S3WbjHomDI+F35S0UI5C8UE8FrCBP7tXZ57jhF0R8jYG/Q8=
